.nav-link {
  font-family: sans-serif !important;
}

@media (min-width: 991px) {
  .custom-navbar {
    position: fixed;
    top: 0;
    right: 0 !important;
    margin-left: 55vw;
    width: 45vw;
    z-index: 1000;
  }
}

/* For medium devices (desktops, 768px and up) */
@media (min-width: 991px) and (max-width: 1199px) {
  .custom-navbar {
    margin-left: 55%;
    width: 45%;
  }
}
